// Place all the styles related to the Tales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin transition($style, $dur, $delay: 0s){
    transition: $style $dur;
    -webkit-transition: $style $dur;
    -moz-transition: $style $dur;
    transition-delay: $delay;
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
}

.welcome{
    text-align:center;
    & h1, p{
        font-family: 'Lato',sans-serif;
    }
    & h1, h2, p{
        opacity: 0;
        text-transform: uppercase;
    }
    & h1{
        color: transparent;
        text-shadow: 0px 0px 20px rgba(255,255,255,0.8);
        letter-spacing: -10px;
        font-size: 100px;
        font-weight: 100;
        margin: 200px 0 -50px 0;
        word-spacing: 10px;
        @include transition(all, 2s, 1s);
    }
    & h2{
        font-family: 'Lora',serif;
        color: transparent;
        text-shadow: 0px 0px 50px #eaeaea;
        font-size: 250px;
        letter-spacing: -25px;
        font-weight: 300;
        margin: 0;
        @include transition(all, 2s, 2s);
    }
    & p{
      margin: -40px 0 0 0;
      padding: 0;
      font-weight: 300;
      font-size: 18px;
      text-align: center;
      @include transition(all, 1.5s, 2.75s);
      letter-spacing: -5px;
      color: rgba(255,255,255,0.5);
    }
}
.welcome.show{
    & h1, h2, p{
        opacity: 1;
    }
    & h1{
        color: rgba(255,255,255,0.3);
        text-shadow: none;
    }
    & h2{
        color: #eaeaea;
        text-shadow: 0px 0px 10px rgba(255,255,255,0.5);
    }
    & p{
        letter-spacing: 10px;
    }
}

.destination{
    bottom: 10px;
    margin: 60px auto;
    text-align: center;
    & a{
        text-decoration:none;
        color: inherit;
    }
}
.btn{
    font-family: 'Lato', sans-serif;
    width: 200px;
    height: 50px;
    margin: 0 15px;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    color: transparent;
    cursor: pointer;
    text-shadow: 0px 0px 3px #eaeaea;
    text-transform: uppercase;
    display: inline-block;
    @include transition(all, 0.3s);
    &:hover{
        background: black;
        letter-spacing: 2px;
        box-shadow: 0px 0px 10px white;
        text-shadow: none;
        color: #eaeaea;
    }
}

.tales-list{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-align: right;
    padding-right: 15px;
    line-height: 80px;
    font-size: 90px;
    text-transform: uppercase;
    letter-spacing: -4px;
    margin-top: 20px;
    & a{
        color: #eaeaea;
        text-decoration: none;
        @include transition(all, 0.2s);
        &:hover{
            color: mix(black,maroon, 20);
        }
    }
    & .tale-item{
        padding: 10px 0;
        margin: 10px 0;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
}