
.light-font{
    font-weight: 100;
}
.medium-font{
    font-weight: 300;    
}
.heavy-font{
    font-weight: 700;
}
.heaviest-font{
    font-weight: 900;
}
.transparent{
    color: transparent;
    & a{
        color: transparent;
    }
}
.uppercase{
    text-transform: uppercase;
}
.center{
    text-align: center;
}