<div class="about-content">
    <h1>THIS PAGE WILL BE COMPLETED SOON</h1>
    <h4>I haven't had a chance to get to it yet</h4>
    <p><strong>SHIVER</strong> was made as a way for me learn and practice the basics of Rails through a short one-day project.</p>
</div>