<div class="welcome">
  <h1>Welcome To</h1>
  <h2>SHIVER</h2>
  <p>Stories To Wake The Dead</p>
</div>

<div class="destination">
  <div class="pick-btn btn">
    <%=link_to 'Pick Your Poison', 'all'%>
  </div>
  <div class="randomize-btn btn">
    <%=link_to 'Mystery Scare', @random_tale%>
  </div>
</div>