<div class="login-form">
<h2 class="light-font">Please Enter Admin Username and Password</h2>
<form action="access">
    <label for="username" class="transparent">Username: &nbsp;</label>
    <input type="text" class="light-font" name="username"/><br>
    <label for="password" class="transparent">Password: &nbsp;</label>
    <input type="password" class="light-font" name="password"/><br>
    <div id="login-btn center">
        <button type="submit" id="login" class="transparent medium-font">Submit</button>
    </div>
</form>    
</div>
